version: '3'

services:
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/usr/src/app/_static
      - media_volume:/usr/src/app/_media
    ports:
      - 80:80
    depends_on:
      - web 
      
  web:  
    build: .
    command: gunicorn --workers=1 -k gevent final_proj_blog.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/usr/src/app/_static
      - media_volume:/usr/src/app/_media
      - ./:/usr/src/app/
      - ./.env:/usr/src/app/.env        
      - ./.env.dev:/usr/src/app/.env.dev 
      - ./.env.prod:/usr/src/app/.env.prod 
      - ./.env.prod.db:/usr/src/app/.env.prod.db 
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
      
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

volumes:
  postgres_data:
  static_volume:
  media_volume: