<!-- common/delete_account.html -->
{% extends "common/base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-danger text-white">
                    <h3>회원 탈퇴</h3>
                </div>
                <div class="card-body p-4">
                    <p class="text-center">정말로 탈퇴하시겠습니까?</p>
                    <form method="post" action="{% url 'common:delete_account' %}">
                        {% csrf_token %}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger btn-block">탈퇴하기</button>
                        </div>
                    </form>
                    <div class="mt-3 text-center">
                        <a href="{% url 'common:profile_update' %}" class="btn btn-link">취소</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}